.climaxFold {
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bttns {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
}

/* ===================== Media Queries ===================== */

@media screen and (max-width: 991px) {
  .climaxFold .climaxRow {
    gap: 40px;
  }

  .bttns {
    gap: 20px;
  }
}

@media screen and (max-width: 575px) {
  .bttns {
    flex-direction: column;
    gap: 20px;
  }
}
