.plansFlod {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===================== Media Queries ===================== */

@media screen and (max-width: 991px) {
  .plansFlod .plansRow {
    row-gap: 40px;
  }
}
